body {
    font-family: Arial, sans-serif;
}

header, footer {
    text-align: center;
    background-color: #f0f0f0;
}

.gombalan {
    margin: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 600px;
    margin: 0 auto;
}
